{% schema %}
{
  "name": "Real Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Real Reviews, Real Experiences"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "With 1600+ 5-star reviews"
    },
    {
      "type": "number",
      "id": "total_pages",
      "label": "Total Pages",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "John Doe"
        },
        {
          "type": "text",
          "id": "country",
          "label": "Country",
          "default": "United States"
        },
        {
          "type": "number",
          "id": "rating",
          "label": "Rating",
          "default": 5
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Review Text",
          "default": "Lorem ipsum dolor sit amet."
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "product_name",
          "label": "Product Name",
          "default": "Product Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="reviews-section">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.subtitle }}</p>

  <div class="reviews-list">
    {% for review in section.blocks %}
      <div class="review">
        <img src="{{ review.settings.image | image_url }}" alt="{{ review.settings.name }}" class="review-image"/>
        <div class="content">
          <h3>{{ review.settings.name }}</h3>
          <h4>{{ review.settings.country }}</h4>
          <div class="rating">
            {% for i in (1..5) %}
              {% if i <= review.settings.rating %}
                <i class="fa-solid fa-star"></i>
              {% endif %}
            {% endfor %}
          </div>
          <p id="description">{{ review.settings.description }}</p>
          
          <div class="product">
            <img src="{{ review.settings.product_image | img_url: '150x150' }}" alt="{{ review.settings.product_name }}" class="product-image"/>
            <p>{{ review.settings.product_name }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <p>1 2 3 ... {{ section.settings.total_pages }}</p>
  </div>
</section>
