<!-- Seção "Shop by Collection" -->
<section class="shop-by-collection">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    <div class="collection-slider">
      <button class="nav-button prev">
        <i class="fas fa-chevron-left"></i> <!-- Ícone de seta para a esquerda -->
      </button>

      <div class="collection-items">
        <div class="collection-item">
          <a href="/colecao-1">
            <img src="{{ 'image1.png' | asset_url }}" alt="Imagem da Coleção 1">
            <div class="collection-item-text">
              <h3>Coleção 1</h3>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a href="/colecao-2">
            <img src="{{ 'image1.png' | asset_url }}" alt="Imagem da Coleção 2">
            <div class="collection-item-text">
              <h3>Coleção 2</h3>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a href="/colecao-3">
            <img src="{{ 'image1.png' | asset_url }}" alt="Imagem da Coleção 3">
            <div class="collection-item-text">
              <h3>Coleção 3</h3>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a href="/colecao-4">
            <img src="{{ 'image1.png' | asset_url }}" alt="Imagem da Coleção 4">
            <div class="collection-item-text">
              <h3>Coleção 4</h3>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a href="/colecao-5">
            <img src="{{ 'image1.png' | asset_url }}" alt="Imagem da Coleção 5">
            <div class="collection-item-text">
              <h3>Coleção 5</h3>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a href="/colecao-6">
            <img src="{{ 'image1.png' | asset_url }}" alt="Imagem da Coleção 6">
            <div class="collection-item-text">
              <h3>Coleção 6</h3>
            </div>
          </a>
        </div>
      </div>

      <button class="nav-button next">
        <i class="fas fa-chevron-right"></i> <!-- Ícone de seta para a direita -->
      </button>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Shop by Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Shop by Collection"
    }
  ],
  "presets": [
    {
      "name": "Shop by Collection",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
